[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bnspatial"]
	path = bnspatial
	url = https://github.com/dariomasante/bnspatial
[submodule "landscapeR"]
	path = landscapeR
	url = https://github.com/dariomasante/landscaper
